#game {
    width: 500px;
    height: 500px;
}

#gui {
    width: 500px;
    height: 500px;
    opacity: 0.5;
}

.gameContainer, .guiContainer {
    position: absolute;
    width: 500px;
    height: 500px;
}

.gameContainer {
    z-index: -1;
}

.guiContainer {
    z-index: 0;
}